<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shop_name" data-rule="required" class="form-control" name="row[shop_name]" type="text" value="{$row.shop_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_img')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shop_img" data-rule="required" class="form-control" name="row[shop_img]" type="text" value="{$row.shop_img}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_logo')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-shop_logo" data-rule="required" class="form-control" name="row[shop_logo]" type="text" value="{$row.shop_logo}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('City')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class='control-relative'><input id="c-city" data-rule="required" class="form-control" data-toggle="city-picker" name="row[city]" type="text" value="{$row.city}"></div>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Address')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-address" data-rule="required" class="form-control" name="row[address]" type="text" value="{$row.address}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Location_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-location_name" data-rule="required" class="form-control" name="row[location_name]" type="text" value="{$row.location_name}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Shop_brief')}:</label>
        <div class="col-xs-12 col-sm-8">
            <textarea id="c-shop_brief" data-rule="required" class="form-control " rows="5" name="row[shop_brief]" cols="50">{$row.shop_brief}</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Do_start_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-do_start_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[do_start_time]" type="text" value="{$row.do_start_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_receiving')}:</label>
        <div class="col-xs-12 col-sm-8">
                        
            <select  id="c-is_receiving" data-rule="required" class="form-control selectpicker" name="row[is_receiving]">
                {foreach name="isReceivingList" item="vo"}
                    <option value="{$key}" {in name="key" value="$row.is_receiving"}selected{/in}>{$vo}</option>
                {/foreach}
            </select>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="statusList" item="vo"}
            <label for="row[status]-{$key}"><input id="row[status]-{$key}" name="row[status]" type="radio" value="{$key}" {in name="key" value="$row.status"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Classify_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-classify_id" data-rule="required" data-source="classify/index" class="form-control selectpage" name="row[classify_id]" type="text" value="{$row.classify_id}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Showdata')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="showdataList" item="vo"}
            <label for="row[showdata]-{$key}"><input id="row[showdata]-{$key}" name="row[showdata]" type="radio" value="{$key}" {in name="key" value="$row.showdata"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_bestdata')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="isBestdataList" item="vo"}
            <label for="row[is_bestdata]-{$key}"><input id="row[is_bestdata]-{$key}" name="row[is_bestdata]" type="radio" value="{$key}" {in name="key" value="$row.is_bestdata"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Integral_num')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-integral_num" data-rule="required" class="form-control" name="row[integral_num]" type="number" value="{$row.integral_num}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Fee_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-fee_price" data-rule="required" class="form-control" step="0.01" name="row[fee_price]" type="number" value="{$row.fee_price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Send_price')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-send_price" data-rule="required" class="form-control" step="0.01" name="row[send_price]" type="number" value="{$row.send_price}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Location')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-location" data-rule="required" class="form-control" name="row[location]" type="text" value="{$row.location}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Do_end_time')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-do_end_time" data-rule="required" class="form-control datetimepicker" data-date-format="YYYY-MM-DD HH:mm:ss" data-use-current="true" name="row[do_end_time]" type="text" value="{$row.do_end_time|datetime}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Is_self')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-is_self" data-rule="required" class="form-control" name="row[is_self]" type="number" value="{$row.is_self}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
